<div class="spinner-container" style="height: 40vh;">
    <div class="center-notification">
        <img src="_content/KTKGuest.WebComponents/img/calendar.png" height="100" width="100" />
        <h2>Расписание ещё не опубликованно!</h2>
    </div>
</div>